---
---

// imports
  @import "bourbon/bourbon";
  @import "neat/neat";
  @import "base/base";
  // Syntax highlighting @import is at the bottom of this file
//------------------------------------------------//

//Layout
	.header {
		@include outer-container;

		font-family: $monospace-font-family;
		text-align: right;

		padding-bottom: 20px;

		a {
			color: $dark-gray;
		}

		.masthead {
			@include span-columns(5);
			@include shift(7);
			@include omega();

			h1 {
				font-family: $monospace-font-family;
				font-size: 2em;
				margin: 0;
			}

		}
		nav {
			@include span-columns(3);
			@include shift(9);
			@include omega();

			a {
		  		@include span-columns(4);
			  	@include omega(3n);
			  
			  	word-wrap: break-word;
			  	font-size: 0.80em;
			}

		}
	}

	.content {
		@include outer-container;

		h2 {
			font-size: 2em;
			margin: 0;
		}

		.posts {
			.header{
				text-align: left;
				font-family: $monospace-font-family;
				.title {
					@include span-columns(12);
					@include omega();

				}
				.masthead{
					@include span-columns(12);
					@include shift(0);
					@include omega();

					font-size: $base-font-size - .05;
				}
			}

			table {
				.date{
					@include span-columns(2);
				}
				.title {
					@include span-columns(3);
				}
				.excerpt {
					@include span-columns(7);
				}

				thead{
					font-family: $monospace-font-family;
					tr {
						font-size: $base-font-size + 0.5;
						th {
							border:0;
							text-align: center;
							padding: 0;
						}
					}
				}
				tbody {
					tr {
						td {
							vertical-align: top;
							border:0;
							padding: 0;

						}
						.date {
							font-family: $monospace-font-family;
							text-align: center;
						}
						.title {
							font-family: $monospace-font-family;
						}
						.excerpt {
							font-size: $base-font-size - 0.10;
						}
					}
				}
			}
		}

		.post {
			
			.header{
				text-align: left;
				font-family: $monospace-font-family;
				.title {
					@include span-columns(12);
					@include omega();

					h2 {
						font-family: $monospace-font-family;
						font-size: 2em;
					}

					
				}
			}

			.post-meta {
				@include span-columns(4);
				@include shift(8);

				//float: right;


			}

			.content{
				@include span-columns(8);
				@include shift(-12);

			}
		}

	}

	.footer {
		@include outer-container;
	}
//------------------------------------------------//

//Base Style
//------------------------------------------------//


  @import "highlights";